<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
        <div class="col-12 col-lg-6">
          <img src="/img/contact.png" width="457" height="310" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
        </div>
      
        <div class="col-12 col-lg-6">
          <h1 class="display-5 fw-bold mb-3">Hi, I'am Aayush Khunger</h1>
          <h1 class="display-5 fw-bold mb-3">Lets connect...</h1>
          <p class="lead">
            <a href="mailto:aayush.khunger217@gmail.com"><img src="/img/email.png" width="200" height="200" class="d-inline mx-lg-auto img-fluid category__link contacts-img" alt="E-mail"></a>
            <a href="https://www.instagram.com/ayush._khunger/"><img src="/img/instagram.png" width="200" height="200" class="d-inline mx-lg-auto img-fluid category__link contacts-img" alt="Instagram"></a>
            <a href="https://www.linkedin.com/in/aayush-khunger-7024901b1"><img src="/img/linkedin.png" width="200" height="200" class="d-inline mx-lg-auto img-fluid category__link contacts-img" alt="Linkedin"></a>
          </p>
      
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Go Back</a>
          </div>
      
        </div>
      
      </div>
</body>
</html>